

.profile-pic{
  border-radius: 50%;
  height: 200px;
  width:200px;
  object-fit: cover;
}

.user-container{
  margin-bottom:16px;
}

.movie-poster {
  height: 640px;
  width: 100%;
  /* zoom  in */
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
 /* background-color: orange; */
  width: 340px;
}

/* RAM */
/* .movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
} */

.movie-list{
  display: flex;
  gap:1rem;
  justify-content: space-around;
  flex-wrap:wrap;
  object-fit: cover;
}

.add-movie-container{
  display: flex;
  flex-direction:column;
  gap:0.8rem;
  max-width: 450px;
  margin : 10px auto;
}

.not-found{
  width:100%;
  object-fit: cover;
}